.container{
    background-color: #000000;
    padding-bottom: 1rem;
}
.heading{
background-color: #ff0000;
color:#ffffff;
padding-bottom: 1rem;
}
.headerlogo {
    display: block;
    position: relative;
    margin: 0;
}